.manageBody{
  margin-top:100px;
  margin-right: 200px;
}

  .table-content h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
  }
  
  .table-content h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
    
  }
  
  .table-content th h1 {
      font-weight: bold;
      font-size: 1em;
    text-align: left;
    color: #185875;
    width: 205px;
    text-align: center;
  }
  .table-content {
      text-align: left;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
    display: table;
    
  }
  
  .table-content th {
      background-color: #1F2739;
      
  }
  
  

